# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Linter Run

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lookml_linter:
    runs-on: ubuntu-latest
    name: LookML Linter
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Run LookML Liniter
        id: linter
        uses: rbob86/lookml-linter@main
#         with:
#           lookMlProject: ./
#           configFile: ${{ github.workspace }}/config.example.yaml
#     - run: |
#         echo "This is the workspace"
#         pwd
#         python -m linter.main config.example.yaml
        

